.Showcase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 90vmin;
}

.Showcase-description {
  color: white;
  padding-bottom: 1vh;
  border-bottom: 5px solid whitesmoke;
}

.Showcase-content video,
.Showcase-content img {
  width: 100%;
}

@media (min-width: 501px) {
  .Showcase * {
    transition: 0.5s;
  }

  .Showcase:hover {
    cursor: pointer;
  }

  .Showcase:hover * {
    color: yellow;
  }

  .Showcase:hover h2 {
    font-size: var(--font-size-700-plus-2);
  }
}

@media (max-width: 500px) {
  .Showcase {
    width: 70vmin;
  }

  .Showcase-description h2 {
    font-size: var(--font-size-400-plus-2);
  }
}
