.Showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  max-width: 90vmin;
}

.Showcase p {
  color: white;
  margin: 0;
}

.Video {
  width: 100%;
}
