.Header {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  transition: all 4s ease-out;
  padding: 2vh;
}

.Header * {
  margin: 0 1vh;
}

.Header h1 {
  font-size: calc(var(--font-size-600-plus-2) * 2);
}

@media (max-width: 500px) {
  .Header {
    flex-direction: column;
  }
  .Header h1 {
    font-size: calc(var(--font-size-300-plus-2) * 2);
  }
}
