.Header {
  grid-area: top;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
  transition: all 4s ease-out;
}

.Header * {
  margin: 0;
}

.Header h1 {
  font-size: calc(var(--font-size-900) * 2);
}

@media (max-width: 500px) {
  .Header {
    flex-direction: column;
  }
  .Header h1 {
    font-size: var(--font-size-900);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
