.Footer {
  grid-area: bottom;
  min-height: 15vmin;
  margin: 5vmin;
}

.Footer * {
  margin: 2vh;
}

.Footer p {
  font-size: var(--font-size-100-r);
}

.Footer a {
  font-size: var(--font-size-300-r);
}

@media (min-width: 501px) {
  .Footer a:hover {
    color: grey;
  }
}
