@media (max-width: 500px) {
  .Main {
    flex-direction: column;
  }
}

.Skills {
  font-size: var(--font-size-300-r);
  padding: 3vmin;
}

.Skills p {
  font-size: var(--font-size-400-r);
  margin-bottom: 3vmin;
}

.Skills ul {
  margin: 1vmin;
}

.Skills li {
  display: inline;
  margin: 1vmin;
}

.ProjectsIntro {
  border-top: 1vmin solid black;
  padding: 5vmin 0;
}

.ProjectsIntro p {
  font-size: var(--font-size-500-r);
}

.Projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10vmin;
}
