.Grid-top {
  grid-area: top;
}

.Grid-mid {
  grid-area: middle;
  min-height: 100vmin;
}

.Grid-btm {
  grid-area: bottom;
}

.Flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.Flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
